.game-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.game-start .game-start__label_h1 {
  color: #8F93DE;
}

.game-start .game-start__label_discr {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #8F93DE;
}

.game-start .game-start__form {
  flex: 1 1 auto;
  width: 100%;
}

.g-s-from {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.g-s-from .g-s-from__item > label {
  display: flex;
  width: 100%;
  align-items: center;
}

.g-s-from .g-s-from__item > label > span {
  flex: 0 0 50%;
  text-align: left;
  color: #1D355D;
}

.g-s-from .g-s-from__item > label input,
.g-s-from .g-s-from__item > label select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #1D355D;
}

.g-s-from .g-s-from__item > label input:focus-visible,
.g-s-from .g-s-from__item > label select:focus-visible {
  outline-color: #8F93DE;
}
