.capitals-block {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 540px;
}

.capitals__label {
  text-align: left;
  font-weight: bold !important;
  font-size: 36px !important;
  line-height: 54px !important;
  color: #F2F2F2;
  margin-bottom: 10px !important;
  text-transform: uppercase;
}

.game-board {
  width: 460px;
  height: 515px;
  border-radius: 24px;
  background-color: #faf9f7;
  padding: 38px 32px;
}

.game__record {
  color: #1D355D;
}

.game__question-counter {
  color: #8F93DE;
}

.game__quiz {
  font-weight: bold !important;
  font-size: 24px !important;
  line-height: 36px !important;
  color: #2F527B;
}

.answers {
  padding-left: 0;
  list-style: none;
}

.answers li {
  margin-bottom: 5px;
  cursor: pointer;
}

.game__answer {
  border: 2px solid rgba(96, 102, 208, 0.7) !important;
  border-radius: 12px !important;
  padding: 15px 0 !important;
  color: rgba(96, 102, 208, 0.8) !important;
}

.game__answer:hover {
  background: #F9A826 !important;
  border-color: #F9A826 !important;
  color: #fff !important;
}

.game__again {
  color: #1D355D;
  border: 2px solid #1D355D !important;
  border-radius: 12px !important;
  width: 210px !important;
}

.game__again:hover {
  background-color: #81c928 !important;
}

.correct {
  background-color: #81c928 !important;
}

.game__buttons {
  color: #1D355D;
  border: 2px solid #8F93DE !important;
  border-radius: 12px !important;
}

.game__buttons_home:hover {
  background-color: #81c928 !important;
  border-color: #81c928 !important;
}

.game__buttons_reset:hover {
  background-color: #d9112f !important;
  border-color: #d9112f !important;
}
